.container {
    padding: 10px 90px 20px 40px;
    margin: 10px 50px 20px 20px;
    display: flexbox;
    align-content: center;
}

.title{
    padding: 10px 10px 10px 10px;
    font-size: large;
}

.data{
    display: flexbox;
    align-items: center;
}